<p-card header="Pedido">
  <div class="container">
    <div class="text-left m-2 mb-2">
      <button pButton
              (click)="salvar()"
              type="button"
              label="Salvar"
              class="btn btn-primary mb-2"></button>
    </div>
    <div class="row">
      <div class="col-12 my-2">
        <span class="ui-float-label">
          <p-calendar [(ngModel)]="pedido.dataEmissao"
                      dateFormat="dd/MM/yy"
                      id="dataEmissao"
                      [showIcon]="true"></p-calendar>
           <label for="dataEmissao">Data de Emissão</label>
      </span>
      </div>
      <div class="col-12 my-2">
        <p-dropdown [options]="clienteList"
                    [(ngModel)]="pedido.cliente"
                    placeholder="Cliente"
                    optionLabel="nome"
                    [showClear]="true"></p-dropdown>
      </div>
      <div class="col-12">
        <h4>Total: {{pedido.total | currency: 'BRL' }}</h4>
      </div>
    </div>
  </div>
</p-card>
<p-card>
  <div class="container">
    <div class="row">

    </div>
  </div>
</p-card>
