<p-card header="Lista de Produtos">
  <div class="text-right m-2">
    <button pButton
            [routerLink]="['form']"
            type="button"
            label="Novo"
            class="btn btn-primary">
    </button>
  </div>
  <p-table [columns]="cols" [value]="lista"
           [loading]="loading" [lazy]="true" (onLazyLoad)="carregarLista()">
    <ng-template pTemplate="header" let-produtos>
      <tr>
        <th *ngFor="let produto of produtos">
          {{produto.header}}
        </th>
        <th class="text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-columns="pedidos">
      <tr>
        <td *ngFor="let col of cols">
            {{ row[col.field] }}
        </td>
        <td class="text-center">
          <i title="Editar" class="pi pi-pencil" [routerLink]="['form']" [queryParams]="{id: row['id']}"></i>
          <i title="Deletar" class="pi pi-trash ml-2" (click)="excluir(row.id)"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>Sem Registros.</tr>
    </ng-template>
    <ng-template pTemplate="summary">
      {{lista?.length}} Produtos
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</p-card>
